body.pag-incluir-cards{
  background-color: var(--cor-principal);
  height: 100vh;
  display: flex;
  margin: 50px 0 0 0;

}

.incluir-cards {
  background-color: #f7f7f7;
  padding: 60px;
  border-radius: 8px;
  width: 400px;
  margin: 100px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #583926;


}

.incluir-cards input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.incluir-cards button {
  background-color: #8F684D; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 15px;
}

.incluir-cards button:hover {
  background-color: #DAA520;
}

.incluir-cards input[type="text"]:focus {
  border-color: #DAA520;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.incluir-cards h3{
  color: #ffff;
  font-family: roboto;
  text-align: center;
  padding-bottom: 15px;
}