#titulo {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-principal);
    border-top: 4px solid var(--cor-borda); 
    text-align: center;
    padding: 10px;
    font: size 35px;
    color: #ffff;

}
