.localizacao{

height: 300px;
justify-content:center ;
display: flex;
background-color: var(--cor-principal);
padding-bottom: 35px;
padding-top: 7px;
}


.mapa{
     height: 300px;
     width: 800px;
     border-radius: 8px;
     border: 5px solid #E7D7BE; 
 
}